*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
   
   
}
body{
    background-color: #896C6C;
}
::selection{
    color: #fff;
    background-color: #000;
}

#main{
    width: 100%;
    background-color: #fff;
}

#home{
    width: 100%;
    min-height: 100vh;
   
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding:  30px 50px;
}
#nav img {
    
    width: 100px;
}
#nav #right{
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav a{
    text-decoration: none;
    font-weight: 400;
    color: #000;
    font-size: 1vw;
    letter-spacing: -1px;
}
#nav i{
    margin-top: 3px;
    font-size: 20px;
}
#homemain{
    height: 50px;
}
#home #homemain{
    width: 100%;
    padding: 15vw 16vw;
} 
#homemain h1{
    font-weight: 400;
    font-size: 1.5vw;
}
.headings{
    display: flex;
    gap: 40px;
}
#homemain .headings h1{
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 7vw;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -8px;
}
#homemain .headings h1:hover{
    color: #000;
}
#homelast{
text-align: center;
font-size: 1.6vw;
font-weight: 400;

}
#homelast p::selection{
    color: #fff;
    background-color: #000;

}
#featured{
   
    padding: 10vw 15vw;

}
.fheading> h1{
       line-height: 1;
       font-size: 4vw;
       font-weight: 400;
}

.fheading >h1:nth-child(2){
   

      color: transparent;
    -webkit-text-stroke: 2px #000; 
}

#fimages{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 5vw;
  
}
 #fleft{
    overflow: scroll;
    width: 45%;
    height: inherit;
     border-color: white; 
    
} 
.fleftelm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}
.fleftelm h1{
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;

}
.fleftelm h3{
    font-size: 1.3vw;
    font-weight: 400;
}
.fleftelm h4{
    opacity: .5;
}



#fright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
     width: 45%;
    min-height: inherit; 
   
}
 #fright .fimages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     
      

} 
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vw;
}
.btndiv  button{
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    border:  1px  solid #000;
    background-color: #fff;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -1px;
}
#dev{
    width: 100%;
    padding: 5vw  15vw;
}
#dev h1{
    font-size: 3.8vw;
    font-weight: 400;
    width: 60%;
    line-height: 1;
}
#dev p{
    font-size: 1.5vw;
    margin-top: 3vw;
    letter-spacing: -.5px;
}
#slides{
    padding:  3vw 10vw;
    display: flex;
    justify-content: space-between;
}
.slide{
    width: 30%;
}
.slide .images{
    width: 100%;
    height: 270px;
    /* background-color: yellow; */
}
.slide .tag{
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;
    background-color: #f7f7f7;
    margin:  20px 0;
}
.slide h3{
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -.5;
}
#newslide  h1{
    display: flex;
    align-items: center;
    padding: 1.5vw 9.4vw;
    width: 100%;
    font-size: 3vw;
    font-weight: 400;
}
.card img{
    width: 100%;
    
}
#div{
   
   
    width: 100%;
    height: 800px;
    border:  2px solid black;
    padding: 8vw 9vw;
    background-color: #000;
   
}
#div h1{
    font-size: 4vw;
    color: #fff;
    text-decoration: none;
}


#navb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding:  30px 50px;
}
#box a, h4{
    padding-top:11vw ;
    color: #fff;
    

}
#box{
    display: flex;
    justify-content: space-between;

}
 

